<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FeedVelocity" value="11" />
    <add key="MaxCuttingVelocity" value="64" />
    <add key="CoefficientOfFriction" value="0.565" />
    <add key="DepthOfCutWood" value="100" />
    <add key="TheDistanceBetweenTheCenterOfTheDiscAndTheLowestPointOfTheWood" value="75" />
    <add key="RakeAngle" value="20" />
    <add key="NumberOfTooth" value="20" />
    <add key="BladeDiameter" value="350" />
    <add key="KerfThickness" value="3.9" />
    <add key="NumberOfBlades" value="10" />
  </appSettings>
</configuration>
